@keyframes overlayFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

@keyframes moveRight {
    from {
        left: -450px;
    }

    to {
        left: 0;
    }
}

@keyframes moveLeft {
    from {
        left: 0;
    }

    to {
        left: -450px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
